[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
cloudinary = "*"
dj3-cloudinary-storage = "*"
pillow = "*"
django-rest-knox = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
